body {
  background-color: #60d9f1;
  font-family: cursive;
}

h1{
  font-size: 3em;
  text-decoration-color: blue;
  text-align: center;
  text-overflow:ellipsis;
}

h2{
  font-size: 2em;
  text-decoration-color: blue;
  text-align: center;
  text-overflow:ellipsis;

}

h3{
  font-size: 1.2em;
  text-decoration: overline;
}

a{
  text-decoration: none;
}

.search{
  display:flex;
  justify-content: center;
  align-items: center;
}

.results{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.instance{
  padding: 3em;
  width: 30vw;
  height: 30vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
